<a href="https://colab.research.google.com/github/Juethro/DataQuest_2023_NewQuest/blob/jet-a/DataQuest2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import numpy as np
import plotly.express as px

In [13]:
df = pd.read_csv("train_clean")

In [16]:
df

,Unnamed: 0,datetime,temp,visibility,d_point,feels,min_temp,max_temp,prssr,sea_level,...,hum,wind_spd,wind_deg,rain_1h,rain_3h,snow_1h,snow_3h,clouds,tahun,bulan
0,0,283996800,24.75,NaN,23.89,25.76,24.28,25.22,1012.0,undetermined,...,95.0,0.82,320.0 °,0.00,0,0,0,100.0,1979,1
1,1,284000400,24.58,NaN,23.73,25.57,23.99,25.26,1012.0,NaN,...,95.0,0.96,338.0°,0.00,0,0,0,100.0,1979,1
2,2,284004000,26.60,unidentified,24.06,26.60,26.10,27.39,1012.0,NaN,...,86.0,1.22,339.0°,0.00,0,0,0,99.0,1979,1
3,3,284007600,27.31,NaN,24.37,30.90,26.59,28.36,1012.0,NaN,...,84.0,1.08,342,0.13,0,0,0,94.0,1979,1
4,4,284011200,27.41,NaN,25.05,31.54,26.58,28.31,1011.0,NaN,...,87.0,0.86,336.0°,0.34,0,0,0,100.0,1979,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341875,341875,1514746800,25.06,NaN,24.55,131.53,24.44,25.69,1007.0,undetermined,...,97.0,0.90,13,0.00,0,0,0,99.0,2017,12
341876,341876,1514750400,24.51,NaN,24.17,25.58,23.89,25.13,1006.0,undetermined,...,98.0,0.85,21.0°,NaN,0,0,0,100.0,2017,12
341877,341877,1514754000,24.63,NaN,24.29,129.32,24.00,126.96,1007.0,NaN,...,98.0,1.54,26.0 °,0.00,0,0,0,97.0,2017,12
341878,341878,1514757600,26.68,NaN,24.71,29.76,25.02,27.25,1008.0,undetermined,...,89.0,1.46,17,0.30,0,0,0,98.0,2017,12
341879,341879,1514761200,26.49,NaN,24.90,26.49,26.02,27.09,1008.0,undetermined,...,91.0,1.56,6.0°,0.19,0,0,0,99.0,2017,12

Warning: Total number of columns (21) exceeds max_columns (20) limiting to first (20) columns.
Warning: total number of rows (341880) exceeds max_rows (20000). Limiting to first (20000) rows.

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341880 entries, 0 to 341879
Data columns (total 20 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   datetime    341880 non-null  int64
 1   temp        341880 non-null  float64
 2   visibility  51112 non-null   object
 3   d_point     341880 non-null  float64
 4   feels       341880 non-null  float64
 5   min_temp    341880 non-null  float64
 6   max_temp    341880 non-null  float64
 7   prssr       341880 non-null  float64
 8   sea_level   192964 non-null  object
 9   grnd_level  192919 non-null  object
 10  hum         341880 non-null  float64
 11  wind_spd    341880 non-null  float64
 12  wind_deg    341880 non-null  object
 13  rain_1h     320590 non-null  float64
 14  rain_3h     341880 non-null  int64
 15  snow_1h     341880 non-null  int64
 16  snow_3h     341880 non-null  int64
 17  clouds      341880 non-null  float64
 18  tahun       341880 non-null  int64
 19  bulan       341880 non-null  int64
dtypes: float64(10), int64(6), object(4)
memory usage: 52.2+ MB

## Preprocess

In [17]:
df = df.drop('Unnamed: 0', axis=1)

## Visualization