<a href="https://colab.research.google.com/github/Juethro/DataQuest_2023_NewQuest/blob/jet-a/DataQuest2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [48]:
import pandas as pd
import numpy as np
import plotly.express as px

In [49]:
df = pd.read_csv("train_clean")

,Unnamed: 0,datetime,temp,visibility,d_point,feels,min_temp,max_temp,prssr,sea_level,...,hum,wind_spd,wind_deg,rain_1h,rain_3h,snow_1h,snow_3h,clouds,tahun,bulan
0,0,283996800,24.75,NaN,23.89,25.76,24.28,25.22,1012.0,undetermined,...,95.0,0.82,320.0,0.00,0,0,0,100.0,1979,1
1,1,284000400,24.58,NaN,23.73,25.57,23.99,25.26,1012.0,NaN,...,95.0,0.96,338.0,0.00,0,0,0,100.0,1979,1
2,2,284004000,26.60,unidentified,24.06,26.60,26.10,27.39,1012.0,NaN,...,86.0,1.22,339.0,0.00,0,0,0,99.0,1979,1
3,3,284007600,27.31,NaN,24.37,30.90,26.59,28.36,1012.0,NaN,...,84.0,1.08,342.0,0.13,0,0,0,94.0,1979,1
4,4,284011200,27.41,NaN,25.05,31.54,26.58,28.31,1011.0,NaN,...,87.0,0.86,336.0,0.34,0,0,0,100.0,1979,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341875,341875,1514746800,25.06,NaN,24.55,131.53,24.44,25.69,1007.0,undetermined,...,97.0,0.90,13.0,0.00,0,0,0,99.0,2017,12
341876,341876,1514750400,24.51,NaN,24.17,25.58,23.89,25.13,1006.0,undetermined,...,98.0,0.85,21.0,NaN,0,0,0,100.0,2017,12
341877,341877,1514754000,24.63,NaN,24.29,129.32,24.00,126.96,1007.0,NaN,...,98.0,1.54,26.0,0.00,0,0,0,97.0,2017,12
341878,341878,1514757600,26.68,NaN,24.71,29.76,25.02,27.25,1008.0,undetermined,...,89.0,1.46,17.0,0.30,0,0,0,98.0,2017,12
341879,341879,1514761200,26.49,NaN,24.90,26.49,26.02,27.09,1008.0,undetermined,...,91.0,1.56,6.0,0.19,0,0,0,99.0,2017,12

In [50]:
df.drop("Unnamed: 0", axis=1)

,datetime,temp,visibility,d_point,feels,min_temp,max_temp,prssr,sea_level,grnd_level,hum,wind_spd,wind_deg,rain_1h,rain_3h,snow_1h,snow_3h,clouds,tahun,bulan
0,283996800,24.75,NaN,23.89,25.76,24.28,25.22,1012.0,undetermined,NaN,95.0,0.82,320.0,0.00,0,0,0,100.0,1979,1
1,284000400,24.58,NaN,23.73,25.57,23.99,25.26,1012.0,NaN,NaN,95.0,0.96,338.0,0.00,0,0,0,100.0,1979,1
2,284004000,26.60,unidentified,24.06,26.60,26.10,27.39,1012.0,NaN,undetermined,86.0,1.22,339.0,0.00,0,0,0,99.0,1979,1
3,284007600,27.31,NaN,24.37,30.90,26.59,28.36,1012.0,NaN,undetermined,84.0,1.08,342.0,0.13,0,0,0,94.0,1979,1
4,284011200,27.41,NaN,25.05,31.54,26.58,28.31,1011.0,NaN,undetermined,87.0,0.86,336.0,0.34,0,0,0,100.0,1979,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341875,1514746800,25.06,NaN,24.55,131.53,24.44,25.69,1007.0,undetermined,NaN,97.0,0.90,13.0,0.00,0,0,0,99.0,2017,12
341876,1514750400,24.51,NaN,24.17,25.58,23.89,25.13,1006.0,undetermined,undetermined,98.0,0.85,21.0,NaN,0,0,0,100.0,2017,12
341877,1514754000,24.63,NaN,24.29,129.32,24.00,126.96,1007.0,NaN,undetermined,98.0,1.54,26.0,0.00,0,0,0,97.0,2017,12
341878,1514757600,26.68,NaN,24.71,29.76,25.02,27.25,1008.0,undetermined,NaN,89.0,1.46,17.0,0.30,0,0,0,98.0,2017,12
341879,1514761200,26.49,NaN,24.90,26.49,26.02,27.09,1008.0,undetermined,not recorded,91.0,1.56,6.0,0.19,0,0,0,99.0,2017,12

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341880 entries, 0 to 341879
Data columns (total 21 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  341880 non-null  int64
 1   datetime    341880 non-null  int64
 2   temp        341880 non-null  float64
 3   visibility  51112 non-null   object
 4   d_point     341880 non-null  float64
 5   feels       341880 non-null  float64
 6   min_temp    341880 non-null  float64
 7   max_temp    341880 non-null  float64
 8   prssr       341880 non-null  float64
 9   sea_level   192964 non-null  object
 10  grnd_level  192919 non-null  object
 11  hum         341880 non-null  float64
 12  wind_spd    341880 non-null  float64
 13  wind_deg    341880 non-null  float64
 14  rain_1h     320590 non-null  float64
 15  rain_3h     341880 non-null  int64
 16  snow_1h     341880 non-null  int64
 17  snow_3h     341880 non-null  int64
 18  clouds      341880 non-null  float64
 19  tahun       341880 non-null  int64
 20  bulan       341880 non-null  int64
dtypes: float64(11), int64(7), object(3)
memory usage: 54.8+ MB

## Data Preprocessing

In [52]:
df.visibility.value_counts()

unrecognized    4352
-1m             4349
unknown         4326
-1km            4278
unidentified    4263
-1 km           4263
-1              4257
                4241
undefined       4238
-1 m            4234
missing         4165
empty           4146
Name: visibility, dtype: int64

In [53]:
df.sea_level.value_counts()

undetermined     154582
-1                 4890
unestablished      4823
unsettled          4809
not_recorded       4804
not-recorded       4803
unknown            4792
not recorded       4735
unspecified        4726
Name: sea_level, dtype: int64

In [54]:
df.grnd_level.value_counts()

undetermined     148814
not recorded       5615
not_recorded       5579
unspecified        5537
-1                 5511
unsettled          5497
not-recorded       5480
unknown            5443
unestablished      5443
Name: grnd_level, dtype: int64

In [55]:
df.rain_1h

0.00     185531
1.00       5747
0.11       5083
0.12       4593
0.13       4290
          ...
12.75         1
11.87         1
9.75          1
8.65          1
9.16          1
Name: rain_1h, Length: 1067, dtype: int64

## Data Visualization