<a href="https://colab.research.google.com/github/Juethro/DataQuest_2023_NewQuest/blob/jet/DataQuest2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [66]:
!pip install -q kaggle
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json
!kaggle competitions download -c tahap-penyisihan-oq-dataquestua

tahap-penyisihan-oq-dataquestua.zip: Skipping, found more recently modified local copy (use --force to force download)

In [200]:
!unzip tahap-penyisihan-oq-dataquestua.zip -d datasets

Archive:  tahap-penyisihan-oq-dataquestua.zip
replace datasets/sample_submission.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: datasets/sample_submission.csv
  inflating: datasets/test.csv
  inflating: datasets/train.csv

In [201]:
import pandas as pd

In [202]:
df = pd.read_csv("datasets/train.csv")
df

,datetime,datetime_iso,time-zone,temp,visibility,d_point,feels,min_temp,max_temp,prssr,sea_level,grnd_level,hum,wind_spd,wind_deg,rain_1h,rain_3h,snow_1h,snow_3h,clouds
0,283996800,1979-01-01 00:00:00+00:00,28800,24.75 Celcius,NaN,23.89 C,25.76 C,24.28,25.22°C,1012,undetermined,NaN,95,0.82,320.0 °,zero,0,NaN,NaN,100
1,284000400,1979-01-01 01:00:00+00:00,28800,24.58 C,NaN,23.73 C,25.57 C,23.99 C,25.26 C,1012,NaN,NaN,95,0.96 m/s,338.0°,0,0,0,0,100
2,284004000,1979-01-01 02:00:00+00:00,28800,26.6 Celcius,unidentified,24.06 C,26.6 C,26.1 C,27.39,1012,NaN,undetermined,86,1.22 m/s,339.0°,0,volume:zero,NaN,NaN,99
3,284007600,1979-01-01 03:00:00+00:00,28800,27.31 Celcius,NaN,24.37 C,30.9 C,26.59,28.36 C,1012,NaN,undetermined,84,1.08 m/s,342,0.13,nol,0,NaN,94
4,284011200,1979-01-01 04:00:00+00:00,28800,27.41,NaN,25.05 C,31.54 C,26.58 C,28.31 °C,1011,NaN,undetermined,87,0.86,336.0°,0.34,nol,NaN,0,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341875,1514746800,2017-12-31 19:00:00+00:00,28800,25.06 Celcius,NaN,24.55,131.53 C,24.44 C,25.69,1007,undetermined,NaN,97,0.9,13,0,0,0,0,99
341876,1514750400,2017-12-31 20:00:00+00:00,28800,24.51°C,NaN,24.17°C,25.58,23.89 C,25.13,1006,undetermined,undetermined,98,0.85 m/s,21.0°,,NaN,NaN,0,100
341877,1514754000,2017-12-31 21:00:00+00:00,28800,24.63 C,NaN,24.29,129.32,24,126.96 C,1007.0 hPa,NaN,undetermined,98,1.54 m/s,26.0 °,0,NaN,0,no_snow,97
341878,1514757600,2017-12-31 22:00:00+00:00,28800,26.68,NaN,24.71,29.76,25.02 C,27.25 °C,1008,undetermined,NaN,89.00%,1.46m/s,17,0.3 mm,0,0,volume:0,98
341879,1514761200,2017-12-31 23:00:00+00:00,28800,26.49 C,NaN,24.9,26.49,26.02,27.09 °C,1008,undetermined,not recorded,91,1.56,6.0°,0.19,no-rain,0,NaN,99

In [203]:
ori = df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341880 entries, 0 to 341879
Data columns (total 20 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   datetime      341880 non-null  int64
 1   datetime_iso  341880 non-null  object
 2   time-zone     341880 non-null  int64
 3   temp          341880 non-null  object
 4   visibility    51112 non-null   object
 5   d_point       341880 non-null  object
 6   feels         341880 non-null  object
 7   min_temp      341880 non-null  object
 8   max_temp      341880 non-null  object
 9   prssr         341880 non-null  object
 10  sea_level     192964 non-null  object
 11  grnd_level    192919 non-null  object
 12  hum           341880 non-null  object
 13  wind_spd      341880 non-null  object
 14  wind_deg      341880 non-null  object
 15  rain_1h       341880 non-null  object
 16  rain_3h       192329 non-null  object
 17  snow_1h       192696 non-null  object
 18  snow_3h       192699 non-null  object
 19  clouds        341880 non-null  object
dtypes: int64(2), object(18)
memory usage: 52.2+ MB

## Data Cleaning

### Detection

In [204]:
df["visibility"].unique()

array([nan, 'unidentified', ' ', '-1m', 'unrecognized', 'unknown',
       '-1 km', '-1', 'empty', 'undefined', '-1km', '-1 m', 'missing'],
      dtype=object)

In [205]:
df.visibility.info()

<class 'pandas.core.series.Series'>
RangeIndex: 341880 entries, 0 to 341879
Series name: visibility
Non-Null Count  Dtype
--------------  -----
51112 non-null  object
dtypes: object(1)
memory usage: 2.6+ MB

In [206]:
df["time-zone"].unique()

array([28800])

In [207]:
df["temp"].unique()

array(['24.75 Celcius', '24.58 C', '26.6 Celcius', ..., '136.06 °C',
       '33.48 Celcius', '34.32 C'], dtype=object)

In [208]:
df.temp.info()

<class 'pandas.core.series.Series'>
RangeIndex: 341880 entries, 0 to 341879
Series name: temp
Non-Null Count   Dtype
--------------   -----
341880 non-null  object
dtypes: object(1)
memory usage: 2.6+ MB

In [209]:
df.datetime_iso.info()

<class 'pandas.core.series.Series'>
RangeIndex: 341880 entries, 0 to 341879
Series name: datetime_iso
Non-Null Count   Dtype
--------------   -----
341880 non-null  object
dtypes: object(1)
memory usage: 2.6+ MB

In [210]:
df.d_point.unique()

array(['23.89  C', '23.73 C', '24.06 C', ..., '28.13 C', '28.1 Celcius',
       '126.76°C'], dtype=object)

In [211]:
df.feels

0          25.76 C
1          25.57 C
2           26.6 C
3           30.9 C
4          31.54 C
            ...
341875    131.53 C
341876       25.58
341877      129.32
341878       29.76
341879       26.49
Name: feels, Length: 341880, dtype: object

In [212]:
df.min_temp.value_counts()

25.02       1847
26.02       1368
29.02       1314
24.02       1300
28.02       1025
            ...
21.75  C       1
21.29          1
118.41 C       1
116.85°C       1
131.18°C       1
Name: min_temp, Length: 8347, dtype: int64

In [213]:
df.prssr

0               1012
1               1012
2               1012
3               1012
4               1011
             ...
341875          1007
341876          1006
341877    1007.0 hPa
341878          1008
341879          1008
Name: prssr, Length: 341880, dtype: object

In [214]:
df.sea_level.value_counts()

undetermined     154582
-1                 4890
unestablished      4823
unsettled          4809
not_recorded       4804
not-recorded       4803
unknown            4792
not recorded       4735
unspecified        4726
Name: sea_level, dtype: int64

In [215]:
df.grnd_level.value_counts()

undetermined     148814
not recorded       5615
not_recorded       5579
unspecified        5537
-1                 5511
unsettled          5497
not-recorded       5480
unknown            5443
unestablished      5443
Name: grnd_level, dtype: int64

In [216]:
df.hum

0             95
1             95
2             86
3             84
4             87
           ...
341875        97
341876        98
341877        98
341878    89.00%
341879        91
Name: hum, Length: 341880, dtype: object

In [232]:
df.wind_spd

0             0.82
1         0.96 m/s
2         1.22 m/s
3         1.08 m/s
4             0.86
            ...
341875         0.9
341876    0.85 m/s
341877    1.54 m/s
341878     1.46m/s
341879        1.56
Name: wind_spd, Length: 341880, dtype: object

In [236]:
df.wind_deg

0         320.0 °
1          338.0°
2          339.0°
3             342
4          336.0°
           ...
341875         13
341876      21.0°
341877     26.0 °
341878         17
341879       6.0°
Name: wind_deg, Length: 341880, dtype: object

In [243]:
df.rain_1h.value_counts()

0          169494
            21290
0 mm         5476
-1mm         5442
zero         5308
            ...
13.35           1
11.82           1
8.2             1
5.8mm           1
9.16 mm         1
Name: rain_1h, Length: 2606, dtype: int64

### Action

In [217]:
df.drop("time-zone", axis=1, inplace=True)

In [218]:
df['temp'] = df['temp'].str.extract(r'(\d+\.\d+|\d+)').astype(float)

In [219]:
df['d_point'] = df['d_point'].str.extract(r'(\d+\.\d+|\d+)').astype(float)

In [220]:
df['feels'] = df['feels'].str.extract(r'(\d+\.\d+|\d+)').astype(float)

In [221]:
df['min_temp'] = df['min_temp'].str.extract(r'(\d+\.\d+|\d+)').astype(float)

In [222]:
df['max_temp'] = df['max_temp'].str.extract(r'(\d+\.\d+|\d+)').astype(float)

In [225]:
df['prssr'] = df['prssr'].str.extract(r'(\d+\.\d+|\d+)').astype(float)

In [227]:
df['hum'] = df['hum'].str.extract(r'(\d+\.\d+|\d+)').astype(float)

In [233]:
df['wind_spd'] = df['wind_spd'].str.extract(r'(\d+\.\d+|\d+)').astype(float)

In [237]:
df['wind_deg'] = df['wind_deg'].str.extract(r'(\d+\.\d+|\d+)').astype(float)

In [245]:
df["rain_1h"] = df['rain_1h'].str.replace('zero', 0, regex=True)
df["rain_1h"] = df['rain_1h'].str.extract(r'(\d+\.\d+|\d+)').astype(float)

TypeError: ignored

In [229]:
df['datetime_iso'] = pd.to_datetime(df['datetime_iso'])

df['tahun'] = df['datetime_iso'].dt.year
df['bulan'] = df['datetime_iso'].dt.month

df.drop("datetime_iso", axis=1, inplace=True)

In [238]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341880 entries, 0 to 341879
Data columns (total 20 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   datetime    341880 non-null  int64
 1   temp        341880 non-null  float64
 2   visibility  51112 non-null   object
 3   d_point     341880 non-null  float64
 4   feels       341880 non-null  float64
 5   min_temp    341880 non-null  float64
 6   max_temp    341880 non-null  float64
 7   prssr       341880 non-null  float64
 8   sea_level   192964 non-null  object
 9   grnd_level  192919 non-null  object
 10  hum         341880 non-null  float64
 11  wind_spd    341880 non-null  float64
 12  wind_deg    341880 non-null  float64
 13  rain_1h     341880 non-null  object
 14  rain_3h     192329 non-null  object
 15  snow_1h     192696 non-null  object
 16  snow_3h     192699 non-null  object
 17  clouds      341880 non-null  object
 18  tahun       341880 non-null  int64
 19  bulan       341880 non-null  int64
dtypes: float64(9), int64(3), object(8)
memory usage: 52.2+ MB